@charset "utf-8";

body {
    font-family: Arial, sans-serif;
}

#content {
    margin: auto;
    width: 50%;
    text-align: center;
}

h1, h2 {
    padding: 10px 0px 10px 0px;
    background-color: #bcd0dc;
    color: #283f4d;
}

p { 
    padding: .5em 1em .5em 1em;
    text-align: justify;
}

#quotes {
    background-color: #bcd0dc;
    font-family: Garamond, serif;
    font-style: italic;
    text-align: center;
    font-size: 14pt;
}